.header {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: var(--red-color);
  color: white;
}

h1 {
  font-size: 18px;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}