.header {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  background-color: var(--red-color);
  color: white;
  justify-content: center;

}

h1 {
  font-size: 14px;
}

.logo {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}
